@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --white: #f9f9f9;
    --red: #c91111;
    --black: #36383F;
    --gray: #85888C;
    --graygrad: linear-gradient(0deg,transparent,rgba(0,0,0,.4));
    --blue: #024f9c;
    --bluegrad: rgba(17, 132, 226, 0.4);
    --violet: #2f4288;
    --mainfont: Poppins;
} /* variables*/

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body{
  font-family: var(--mainfont);
  background-color: var(--white);
  height: 100%;  
}

p {
    margin-block-start: 0;
    text-indent: 1rem;
}

hr {
    border: none;
    height: 1px;
    background-color: lightgray;
    width: 40px;
    margin: 1.5rem 0 1rem 0;
}

#root {
    display: block;
    height: 100%;
}

#main-page {
    flex-grow: 1;
}

.container{
    padding: 30px;
    margin: 0 auto 20px;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
    background: var(--graygrad);
    z-index: 1000;
}
.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-left: 1.2rem;
}
.sidebar > a {
    margin: 0.5rem 1rem;
    padding: 0.5rem 1rem;
    color: var(--white);
}
.sidebar > a:active, a:hover {
    background-color: var(--bluegrad);
    border-radius: 0.3rem;
}

label.logo {
    line-height: 10px;
    margin-right: 20px;
}
.logo img {
    width: 50px;
}

.page-container {
    display: flex;
    flex-direction: column;

    padding: 0 1rem;
}
.hero{
    width: 100%;
    height: 650px;
    background-image: url(../img/bmw-cars.png);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: contain; */
}
.hero h1{
    position: absolute;
    top: 75%;
    left: 40%;
    color: var(--red);
    font-size: 48px;
    align-items: center;
    text-align: center;
    transition: all 0.7s ease-in-out;
}
.about{
    width: 100%;
    height: 550px;
    margin: 0 20px;
    background-image: url(../img/bmw1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.about h1{
    position: absolute;
    top: 75%;
    left: 40%;
    color: var(--red);
    font-size: 48px;
    align-items: center;
    text-align: center;
    transition: all 0.7s ease-in-out;
}
.align-center {
    align-items: center;
}

.socials-container {
    display: flex;
    justify-content: space-between;
}

.socials-card {
    display: flex;
    align-items: center;

    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem;

    text-decoration: none;
    color: unset;
}

.socials-card:hover {
    background-color: lightgray;
}

.socials-card > i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

/* hamburger */
.hamburger{
    display: none;
    cursor: pointer;
  }
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--blue);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* slider*/
.slider{
  height: 600px;
  width: 100%;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track{
  display: flex;
  width: calc(600px * 18);
  animation: scroll 40s linear infinite;
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-600px * 9));
  }
}
.slide{
  height: 400px;
  width: 600px;
  display: flex;
  align-items: center;
  padding: 25px;
  perspective: 100px;
}
img{
  width: 100%;
  transition: transform 1s;
}
img:hover{
  transform: translateZ(20px);
}


@media (max-width: 780px) {
  /* hamburger */
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--blue);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .main-nav__list{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 0;
    gap: 0;
    left: 100%;
    padding: 80px 0 80px;
    background-color: var(--olive);
    opacity: 0.95;
    width: 100%;
    min-height: 100%;
    transition: 0.3s;
  }
  .main-nav__list.active{
    left: 0;
  }
}